.player-tile {
  background-color: var(--color-whitesmoke);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6em;

  font-size: 1rem;
  border-radius: 0.6rem;
  padding: 1em;

  cursor: default;
}

.name,
.name--short {
  display: none;
  color: var(--color-dark-grey);
}
.name--short {
  display: block;
}
@media (min-width: 600px) {
  .name {
    display: block;
  }
  .name--short {
    display: none;
  }
}

.pairs {
  font-size: 1.8rem;
  color: var(--color-dark-blue);
}

/* active player styling */
.player-tile.active {
  position: relative;
  background-color: var(--color-orange);
}
.player-tile.active :where(.name, .name--short, .pairs) {
  color: var(--color-white);
}

/* arrow up indicator trick */
.player-tile.active::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -95%);
  content: "";

  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid var(--color-orange);
}

/* label under active player */
.player-tile.active::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);

  content: "current turn";
  color: var(--color-black);
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  padding-top: 0.6em;
}
