.gameboard {
  display: grid;

  margin-inline: auto;
  gap: 0.3rem;
}

.gameboard > * {
  aspect-ratio: 1;
}

.gameboard.g4 {
  width: min(100%, 450px);

  grid-template-columns: repeat(4, 1fr);
}
.gameboard.g6 {
  width: min(100%, 620px);
  grid-template-columns: repeat(6, 1fr);
}

@media (min-width: 400px) {
  .gameboard {
    gap: 0.6rem;
  }
}
