.gameboard {
  display: grid;

  margin-inline: auto;
  gap: 5px;
}

.gameboard > * {
  aspect-ratio: 1;
}

.gameboard.g4 {
  width: min(100% - 1.5rem, 400px);

  grid-template-columns: repeat(4, 1fr);
}
.gameboard.g6 {
  width: min(100% - 1.5rem, 600px);
  grid-template-columns: repeat(6, 1fr);
}

@media (min-width: 400px) {
  .gameboard {
    gap: 10px;
  }
}
