.grid {
  display: grid;
  gap: 1.5rem;
}

.back-button {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--color-black);
  justify-self: end;
  background-color: transparent;
  border: none;
}
.back-button:hover {
  cursor: pointer;
}

.input {
  border: 2px solid var(--color-grey);
  padding: 0.8rem 0.5rem;
  border-radius: 0.5rem;
  outline: none;
}
.input:focus,
.input:active {
  border: 2px solid var(--color-dark-blue);
}
