.navbar {
  padding-block: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo:hover {
  cursor: pointer;
}

.list {
  display: none;
  list-style: none;

  align-items: center;
  gap: 1rem;
}

/* media queries */
@media (min-width: 520px) {
  .list {
    display: flex;
  }
}

.overlay-container {
  padding: 1rem;
  display: grid;
}
.return-button {
  margin-left: auto;
}
