:root {
  /* colors */
  --color-orange: #fda214;
  --color-light-orange: #ffb84a;
  --color-grey: #bcced9;
  --color-dark-grey: #7191a5;
  --color-blue: #6395b8;
  --color-dark-blue: #304859;
  --color-white: #fcfcfc;
  --color-whitesmoke: #dfe7ec;
  --color-black: #152938;
  --color-black-opacity: #0f171de7;

  /* typography */
  --font: "Atkinson Hyperlegible", sans-serif;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 700;
  font-style: normal;

  color: var(--color-black);
  background-color: var(--color-white);
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h1,
h2,
h3 {
  font-weight: 700;
}
